.row {
  font-size: 18px;
  display: flex;
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.item {
  width: 45%;
}

.img {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.quantity {
  width: 35%;
}

.quantity input {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 8%;
  outline: none;
  text-align: center;
  margin-right: 20px;
}

.price {
  width: 20%;
}

.total {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2rem;
  margin: 10px;
}

.total-title {
  margin-right: 10px;
  font-size: 1.5rem;
}

.addButton {
  margin-right: 8px;
}

.removeButton {
  margin-left: 8px;
}
